body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.producto {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 10px;
}

.info-producto {
    flex: 1;
}

.info-producto h5 {
    font-size: 18px;
    margin: 0;
}

.info-producto p {
    margin: 5px 0;
}

.botones-accion {
    display: flex;
    align-items: center;
}

.botones-accion button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.cantidad-producto {
    margin: 0 10px;
}

.boton-borrar {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.checkout-carrito {
    background-color: #fff;
    padding: 10px;
}

.checkout-carrito h5 {
    margin: 0;
}

.checkout-carrito a {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}