{% extends "base.html" %}
{% load static %}
{% block contentCSS %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    


    <link rel="stylesheet" href="{% static 'carrito/css/carrito.css' %}">
{% endblock  %}




{% block SECTION %}     
        <div class="cart">
            <div class="product">
                <img src="{% static  'img/LogoXilenaDesign(1).jpg' %}" alt="Producto 1">
                <h3>arete1</h3>
                <p>Precio: $10.000</p>
                <button class="delete-button">Eliminar</button>
                <button class="increment-button">+</button>
                <span class="quantity">1</span>
                <button class="decrement-button">-</button>
            </div>>
        </div>
        <div class="total">
            <p>Total: </p>
        </div>
        <div class="button-container">
            <!-- Botón de Comprar con estilo -->
            <button class="comprar-button" src="#"><a href="#">comprar</a></button>


            <script>
                // Función para eliminar un producto
        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', () => {
                button.parentElement.remove();
                updateTotal();
            });
        });
        
        // Función para aumentar la cantidad de unidades
        document.querySelectorAll('.increment-button').forEach(button => {
            button.addEventListener('click', () => {
                const quantityElement = button.nextElementSibling;
                quantityElement.textContent = parseInt(quantityElement.textContent) + 1;
                updateTotal();
            });
        });
        
        // Función para disminuir la cantidad de unidades
        document.querySelectorAll('.decrement-button').forEach(button => {
            button.addEventListener('click', () => {
                const quantityElement = button.previousElementSibling;
                const quantity = parseInt(quantityElement.textContent);
                if (quantity > 1) {
                    quantityElement.textContent = quantity - 1;
                    updateTotal();
                }
            });
        });
        
        // Función para actualizar el total
        function updateTotal() {
            const prices = Array.from(document.querySelectorAll('.product p')).map(p => parseFloat(p.textContent.replace('Precio: $', '')));
            const quantities = Array.from(document.querySelectorAll('.quantity')).map(q => parseInt(q.textContent));
            const total = prices.reduce((acc, price, index) => acc + price * quantities[index], 0).toFixed(3);
            document.querySelector('.total p').textContent = `Total: $${total}`;
        }
            </script>
{% endblock  %}