{% extends "DashboardBase.html" %}
{% load static %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'css/DashboardDatatable.css' %}">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
{% endblock  %}

{% block TITLE %}Panel-Productos {% endblock %}

{% block MAIN_CONTENT %}

<div id="layoutSidenav_content">
    <main>



        <!-- ========== Start TABLE USERS ========== -->
        <div class="card mb-4">
            <div class="card-header">Gestión de Productos

                <button class='btn' onclick="createProducts()"><i class="fa-solid fa-circle-plus"></i> Agregar</button>
                <button class="btn " onclick="exportToExcel('#datatable-products')"><i class="fa-solid fa-file-excel"></i> Exportar a Excel</button>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <div class="table-responsive">
                    <table id="datatable-products" class="table">
                        <thead>
                            <tr>
                                <th class="centered">#</th>
                                <th class="centered">Nombre</th>
                                <th class="centered">Categoría</th>
                                <th class="centered">Descripción</th>
                                <th class="centered">Precio</th>
                                <th class="centered">Imagen</th>
                                <th class="centered">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody_products"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ========== End TABLE USERS ========== -->


    </main>
</div>
{% endblock MAIN_CONTENT %}


{% block JS %}
<!-- ========== Start SweetAlert ========== -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<!-- ========== End SweetAlert ========== -->

    <!-- DataTable.js -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>


<script src="{% static 'js/Manager/ProductsManagement.js' %}"></script>


{% endblock JS %}